<div class="popover" tabindex="-1" ng-show="content">
  <div class="arrow"></div>
  <h3 class="popover-title" ng-bind="title" ng-show="title"></h3>
  <div class="popover-content">
    <form name="popoverForm">
      <div clas="form-group">
        <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
              開始時刻
            </div>
            <input id="idTaskTimeFrom" type="text" class="form-control" size="8" value="18:00"
              ng-model="pops.fromDate"
              name="timeFrom"
              bs-timepicker
              data-time-format="HH:mm"
              data-length="1"
              data-minute-step="1"
              data-arrow-behavior="picker" />
          </div>
          <br />
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
              終了時刻
            </div>
            <input id="idTaskTimeTo" type="text" class="form-control" size="8"
              ng-model="pops.toDate"
              name="timeTo"
              bs-timepicker
              data-time-format="HH:mm"
              data-length="1"
              data-minute-step="1"
              data-arrow-behavior="picker" />
        </div>
      </div>
      <br />
      <div class="form-actions" style="text-align: right;">
        <button id="idTaskBtnBack" type="button" class="btn btn-md btn-default" ng-click="$hide()">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
          戻る
        </button>
        <button id="idTaskBtnAdd" type="button" class="btn btn-md btn-success" ng-show="pops.addFlg" ng-click="pops.addFunc(); $hide()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          新規追加
        </button>
        <button id="idTaskBtnAdd" type="button" class="btn btn-md btn-success" ng-show="!pops.addFlg" ng-click="pops.chgFunc(); $hide()">
          <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
          更新
        </button>
        <button id="idTaskBtnAdd" type="button" class="btn btn-md btn-danger" ng-show="!pops.addFlg" ng-click="pops.chgFunc(); $hide()">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          削除
        </button>
      </div>
    </form>
  </div>
</div>
