<div class="popover" tabindex="-1" ng-show="content">
  <div class="arrow"></div>
  <h3 class="popover-title" ng-bind="title" ng-show="title"></h3>
  <div class="popover-content">
    <form name="popoverForm">
      <div clas="form-group">
        <div class="popover-message-area"></div>
        <div class="input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            開始時刻
          </div>
          <table>
            <tr>
              <td>
                <ui-select ng-model="pops.fHour" theme="bootstrap" style="min-width: 60px;">
                    <ui-select-match placeholder="HH">
                        <span ng-bind="$select.selected.name"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in (pops.hours | filter: $select.search) track by item.id">
                        <span ng-bind="item.name"></span>
                    </ui-select-choices>
                </ui-select>
              </td>
              <td>&nbsp;:&nbsp;</td>
              <td>
                <ui-select ng-model="pops.fMinute" theme="bootstrap" style="min-width: 60px;">
                    <ui-select-match placeholder="mm">
                        <span ng-bind="$select.selected.name"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in (pops.minutes | filter: $select.search) track by item.id">
                        <span ng-bind="item.name"></span>
                    </ui-select-choices>
                </ui-select>
              </td>
            </tr>
          </table>
        </div>
        <br />
        <div class="input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            終了時刻
          </div>
          <table>
            <tr>
              <td>
                <ui-select ng-model="pops.tHour" theme="bootstrap" style="min-width: 60px;">
                    <ui-select-match placeholder="HH">
                        <span ng-bind="$select.selected.name"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in (pops.hours | filter: $select.search) track by item.id">
                        <span ng-bind="item.name"></span>
                    </ui-select-choices>
                </ui-select>
              </td>
              <td>&nbsp;:&nbsp;</td>
              <td>
                <ui-select ng-model="pops.tMinute" theme="bootstrap" style="min-width: 60px;">
                    <ui-select-match placeholder="mm">
                        <span ng-bind="$select.selected.name"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in (pops.minutes | filter: $select.search) track by item.id">
                        <span ng-bind="item.name"></span>
                    </ui-select-choices>
                </ui-select>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <br />
      <div class="form-actions" style="text-align: right;">
        <button id="idTaskBtnBack" type="button" class="btn btn-md btn-default" ng-click="$hide()">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
          戻る
        </button>
        <button id="idTaskBtnAdd" type="button" class="btn btn-md btn-success" ng-show="pops.addFlg" ng-click="pops.addFunc(true);">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          新規追加
        </button>
        <button id="idTaskBtnAddCont" type="button" class="btn btn-md btn-success" ng-show="pops.addFlg" ng-click="pops.addFunc(false);">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          連続追加
        </button>
        <button id="idTaskBtnAdd" type="button" class="btn btn-md btn-success" ng-show="!pops.addFlg" ng-click="pops.chgFunc();">
          <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
          更新
        </button>
        <button id="idTaskBtnAdd" type="button" class="btn btn-md btn-danger" ng-show="!pops.addFlg" ng-click="pops.delFunc();">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          削除
        </button>
      </div>
    </form>
  </div>
</div>
